APP_NAME="COPRODIS"
APP_URL=http://localhost/coprodis
APP_ENV=development
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=coprodis
DB_USER=root
DB_PASS=

SESSION_LIFETIME=3600
SESSION_NAME=coprodis_session

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_ENCRYPTION=tls
SMTP_USER=noreplymisiones@gmail.com
SMTP_PASS="mxez mnap qysx rucy"
SMTP_FROM_EMAIL=noreplymisiones@gmail.com
SMTP_FROM_NAME=CO.PRO.DIS

TIMEZONE=America/Argentina/Buenos_Aires
PAGINATION_LIMIT=25
